booking-application/src/main/resources/scheme/Agents.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" 
		   xmlns:tns="http://com/xml_web_service/bookingapplication/model"
           targetNamespace="http://com/xml_web_service/bookingapplication/model"
           elementFormDefault="qualified">


	<xs:complexType name="Agent">
		<xs:sequence>
			<xs:element name="id" type="xs:long"/>
			<xs:element name="businessID" type="xs:string"/>
			<xs:element name="username" type="xs:string"/>
			<xs:element name="password" type="xs:string"/>
			<xs:element name="firstName" type="xs:string"/>
			<xs:element name="lastName" type="xs:string"/>
		</xs:sequence>
	</xs:complexType>
</xs:schema>